### C++ ###
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

### C ###
# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

## python
*.py[cod]
*$py.class
__pycache__/

.idea
*.jpg
*.png
### Video ###
*.3g2
*.3gp
*.asf
*.asx
*.avi
*.flv
*.mov
*.mp4
*.mpg
*.rm
*.swf
*.vob
*.wmv


# Created by https://www.gitignore.io/api/images
# Edit at https://www.gitignore.io/?templates=images

### Images ###
# JPEG
*.jpg
*.jpeg
*.jpe
*.jif
*.jfif
*.jfi

# JPEG 2000
*.jp2
*.j2k
*.jpf
*.jpx
*.jpm
*.mj2

# JPEG XR
*.jxr
*.hdp
*.wdp

# Graphics Interchange Format
*.gif

# RAW
*.raw

# Web P
*.webp

# Portable Network Graphics
*.png

# Animated Portable Network Graphics
*.apng

# Multiple-image Network Graphics
*.mng

# Tagged Image File Format
*.tiff
*.tif

# Scalable Vector Graphics
*.svg
*.svgz

# Portable Document Format
*.pdf

# X BitMap
*.xbm

# BMP
*.bmp
*.dib

# ICO
*.ico

# 3D Images
*.3dm
*.max

# End of https://www.gitignore.io/api/images

core.*#
.ipynb_checkpoints/

resnet101_v2.pth
best_acc-0.0015924072265625.pt
best_acc-0.3374853515625.pt
best_acc-0.5225146484375.pt
best_acc-0.6942083740234375.pt

2023-*/
PSPNet/
__pycache__/
semseg/
data_semantics.zip
data_semantics/
best_acc-0.0048.pt
best_acc-0.0071.pt
best_acc-0.0095.pt
best_acc-0.0113.pt
best_acc-0.0137.pt
best_acc-0.0148.pt
best_acc-0.0018.pt
best_acc-0.0066.pt
best_acc-0.3910.pt
best_acc-0.5727.pt
best_acc-0.6225.pt
best_acc-0.6331.pt
best_acc-0.6617.pt
best_acc-0.4358.pt
best_acc-0.5120.pt
best_acc-0.5867.pt
best_acc-0.2947.pt
best_acc-0.4653.pt
best_acc-0.5837.pt
best_acc-0.6019.pt
best_acc-0.6082.pt
best_acc-0.6734.pt
best_acc-0.6785.pt
